<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Login</title>
{% load static %}

<link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}" sizes="any">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.72/dist/themes/light.css"/>
<script nonce="{{request.csp_nonce}}" type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.72/dist/shoelace.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>

<!--NIST styles-->
<link rel="stylesheet" href="https://pages.nist.gov/nist-header-footer/css/nist-combined.css">
<script nonce="{{request.csp_nonce}}" src="https://pages.nist.gov/nist-header-footer/js/jquery-1.9.0.min.js" type="text/javascript" defer></script>
<script nonce="{{request.csp_nonce}}" src="https://pages.nist.gov/nist-header-footer/js/nist-header-footer.js" type="text/javascript" defer></script>
<body>
<div class="center">
    <div class="title">
        <h1>E<sup>3</sup></h1>
        <h2>Economic Evaluation Engine</h2>
    </div>

    <sl-card class="fixed-width">
        <sl-tab-group id="login-tab-group">
            <sl-tab slot="nav" panel="login">Login</sl-tab>
            <sl-tab slot="nav" panel="register">Register</sl-tab>

            {% if messages %}
            {% for message in messages %}
            <sl-alert {% if message.tags %} variant="{{ message.tags }}" {% endif %} open closable>
                {{ message }}
            </sl-alert>
            {% endfor %}
            {% endif %}

            <sl-tab-panel name="login">
                <form id="login-form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <sl-input class="bottom-margin" name="email" type="email" label="Email" autofocus></sl-input>
                    <sl-input class="bottom-margin" name="password" type="password" label="Password"></sl-input>
                    <sl-button id="login-button" variant="primary" type="submit">LOGIN</sl-button>
                </form>
            </sl-tab-panel>
            <sl-tab-panel name="register">
                <form id="register-form" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}

                    <sl-input class="bottom-margin" name="email" type="email" label="Email"></sl-input>
                    <sl-input name="password" type="password" label="Password"></sl-input>
                    <sl-input class="bottom-margin" name="confirm-password" type="password"
                              label="Confirm Password"></sl-input>
                    <sl-button variant="primary" type="submit">REGISTER</sl-button>
                </form>
            </sl-tab-panel>
        </sl-tab-group>
    </sl-card>
</div>
</body>
</html>