@use "_shared"

.bottom-margin
  margin-bottom: 32px

sl-tab
  width: 100%

  text-align: center
  cursor: pointer

.fixed-width
  width: 23em
  margin: 64px

sl-input
  margin-bottom: 8px

sl-button
  width: 100%

sl-alert
  margin-top: 16px
  margin-bottom: 16px

.title
  text-align: center

  h1
    font-size: 48pt

  h2
    font-size: 18pt

.custom-input
  flex-direction: column

  input
    width: 100%